/* width */
::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}


/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to bottom, #206aff, #3565ff, #465fff, #5458ff, #6251ff, #714cff, #7e47ff, #8b40ff, #9b3bff, #aa35ff, #b92dff, #c722ff);
}

/* Track */
::-webkit-scrollbar-track {
  background: #161a2b;
}
